<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile=".\internal_logs\internallog.txt">

    <extensions>
        <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>

    <targets async="true">
        <target xsi:type="ApplicationInsightsTarget" name="aiTarget"
                InstrumentationKey="f54ec8f6-b69e-4b53-9343-9d4d608db293"
                layout="${date} ${level:uppercase=true} ${logger} ${message} ${exception:format=toString,StackTrace}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Error" writeTo="aiTarget" />
    </rules>

</nlog>